<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let dPOST of dataPOST">
      <h1>{{dPOST.id}}</h1>{{dPOST.name}} - {{dPOST.email}}
      <div class="item-note" item-end>
        <button ion-button clear (click)="edit(data.judul)">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="delete(dPOST.id)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab bottom right edge>
    <button ion-fab routerLink="/hal2"><ion-icon name="arrow-back-circle-outline"></ion-icon>Pindah</button>
  </ion-fab>
</ion-content>
